@mixin flex($a,$j){
    display: flex;
    align-items: $a;
    justify-content: $j;
}

@mixin size($h,$w){
    height: $h;
    width: $w;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    // border: 2px solid;
}

html,body,.startGame,.playGame {
    width: 100%;
    height: 100%;
    background-color: #FF9D00;
}

.startGame {
    @include flex(center,center);
    flex-direction: column;
    .textContent {
        @include flex(center,center);
        position: relative;
        .challenge {
            font-size: 96px;
            margin-left: 24px;
            p {
                position: absolute;
                font-size: 40px;
                right: 0;
                top: 60px;
                color: #FFFFFF;
                border-bottom: 4px solid #fff;
                text-decoration: underline
            }
        }
        .sec60 {
            color: #fff;
            text-shadow: 12px 0px 0px #000;
            font-size: 240px;
        }
    }

    .startButton {
        @include size(58px,350px);
        background-color: #000000;
        color: #FF9D00;
        margin-top: 104px;
        font-size: 36px;
        border: none;
    }
    .try {
        color: #fff;
        font-size: 24px;
    }
}

.playGame {
    @include flex(center,center);
    flex-direction: column;

    .topContainer {
        @include flex(center,center);
        .slogan {
            margin-right: 114px;
            .socreBox {
                display: flex;
            }
            .sloganText {
                color: #fff;
                font-size: 30px;
                border: solid 5px #fff;
                padding: 8px 16px;
            }
            .score {
                background-color: #fff;
                color: #FF9D00;
                font-size: 30px;
                padding: 12px 16px;
                font-weight: 600;
            }
            .scoreText {
                @include flex(center,center);
                font-size: 44px;
                font-weight: 800;
                margin-left: 8px;
            }

        }
        .time {
            color: #fff;
            font-size: 96px;
        }
    }
    .question {
        @include flex(center,space-around);
        margin-top: 110px;
        position: relative;
        p,input {
            font-size: 112px;
            font-weight: 600;
            margin: 20px;
        }
        input {
            @include flex(center,center);
            @include size(131px, 225px);
            border: none;
            text-align: center;
        }
        .text {
            position: absolute;
            font-size: 24px;
            font-weight: 100;
            right: 12px;
            bottom: -32px;
            color: #fff;
        }
    }
}