* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html, body, .startGame, .playGame, .endGame {
  width: 100%;
  height: 100%;
  background-color: #FF9D00;
}

.startGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.startGame .textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.startGame .textContent .challenge {
  font-size: 96px;
  margin-left: 24px;
  font-weight: 800;
}

.startGame .textContent .challenge p {
  position: absolute;
  font-size: 40px;
  right: 0;
  top: 60px;
  color: #FFFFFF;
  border-bottom: 4px solid #fff;
  text-decoration: underline;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.startGame .textContent .challenge p:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.startGame .textContent .sec60 {
  color: #fff;
  text-shadow: 12px 0px 0px #000;
  font-size: 240px;
  animation: textMove 0.8s infinite alternate-reverse ease-out;
}

.startGame .startButton {
  height: 58px;
  width: 350px;
  background-color: #000000;
  color: #FF9D00;
  margin-top: 104px;
  font-size: 36px;
  border: none;
}

.startGame .try {
  color: #fff;
  font-size: 24px;
}

@-webkit-keyframes textMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes textMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.playGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.playGame .topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playGame .topContainer .slogan {
  margin-right: 114px;
}

.playGame .topContainer .slogan .socreBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playGame .topContainer .slogan .sloganText {
  color: #fff;
  font-size: 30px;
  border: solid 5px #fff;
  padding: 8px 16px;
}

.playGame .topContainer .slogan .score {
  background-color: #fff;
  color: #FF9D00;
  font-size: 30px;
  padding: 12px 16px;
  font-weight: 600;
}

.playGame .topContainer .slogan .scoreText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 44px;
  font-weight: 800;
  margin-left: 8px;
}

.playGame .topContainer .time {
  color: #fff;
  font-size: 96px;
}

.playGame .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 110px;
  position: relative;
}

.playGame .question p, .playGame .question input {
  font-size: 112px;
  font-weight: 600;
  margin: 20px;
}

.playGame .question input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 131px;
  width: 225px;
  border: none;
  text-align: center;
}

.playGame .question input:focus {
  outline: none;
}

.playGame .question .text {
  position: absolute;
  font-size: 24px;
  font-weight: 100;
  right: 12px;
  bottom: -32px;
  color: #fff;
}

.endGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.endGame .sloganText {
  color: #fff;
  font-size: 30px;
  border: solid 5px #fff;
  padding: 4px 16px;
}

.endGame .endText {
  font-size: 56px;
  margin-top: 12px;
}

.endGame .endText::after, .endGame .endText::before {
  content: '';
  display: inline-block;
  height: 0;
  width: 40px;
  border-bottom: solid 8px #fff;
  margin: 16px;
}

.endGame .finalScore {
  font-size: 112px;
  font-weight: 700;
}

.endGame .tryBtn {
  height: 58px;
  width: 350px;
  background-color: #000;
  color: #FF9D00;
  font-size: 36px;
  border: none;
  margin-top: 104px;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */